@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}/* really stayed up late just cause I typed "UI" instead of "ui" </3 */

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;  /* Improves text rendering on macOS */
  -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
  text-rendering: optimizeLegibility;
}z
.btn {
  border-radius: 0;
}