.pattern-content {
  background:
        radial-gradient(50% 50% at 100% 0,#171717 0%  5% ,#100f0f 6%  15%,#171717 16% 25%,#100f0f 26% 35%,#171717 36% 45%,
        #100f0f 46% 55%,#171717 56% 65%,#100f0f 66% 75%,#171717 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50% at 0 100%,#171717 0%  5% ,#100f0f 6%  15%,#171717 16% 25%,#100f0f 26% 35%,#171717 36% 45%,
        #100f0f 46% 55%,#171717 56% 65%,#100f0f 66% 75%,#171717 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#171717 0%  5% ,#100f0f 6%  15%,#171717 16% 25%,#100f0f 26% 35%,#171717 36% 45%,
        #100f0f 46% 55%,#171717 56% 65%,#100f0f 66% 75%,#171717 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#171717 0%  5% ,#100f0f 6%  15%,#171717 16% 25%,#100f0f 26% 35%,#171717 36% 45%,
        #100f0f 46% 55%,#171717 56% 65%,#100f0f 66% 75%,#171717 76% 85%,#100f0f 86% 95%,
        #0000 96%) 32px 32px;
  background-size: 64px 64px;
  background-color: #171717;
  /* pattern by: ME - 10015.io */
}