.pattern-content {
  background:
        radial-gradient(50% 50% at 100% 0,#050505 0%  5% ,#000000 6%  15%,#050505 16% 25%,#000000 26% 35%,#050505 36% 45%,
        #000000 46% 55%,#050505 56% 65%,#000000 66% 75%,#050505 76% 85%,#000000 86% 95%,
        #0000 96%),
        radial-gradient(50% 50% at 0 100%,#050505 0%  5% ,#000000 6%  15%,#050505 16% 25%,#000000 26% 35%,#050505 36% 45%,
        #000000 46% 55%,#050505 56% 65%,#000000 66% 75%,#050505 76% 85%,#000000 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#050505 0%  5% ,#000000 6%  15%,#050505 16% 25%,#000000 26% 35%,#050505 36% 45%,
        #000000 46% 55%,#050505 56% 65%,#000000 66% 75%,#050505 76% 85%,#000000 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#050505 0%  5% ,#000000 6%  15%,#050505 16% 25%,#000000 26% 35%,#050505 36% 45%,
        #000000 46% 55%,#050505 56% 65%,#000000 66% 75%,#050505 76% 85%,#000000 86% 95%,
        #0000 96%) 26px 26px;
  background-size: 52px 52px;
  background-color: #050505;
  /* pattern by: ME - 10015.io */
}