.pattern-content {
  background:
        radial-gradient(50% 50% at 100% 0,#131313 0%  5% ,#100f0f 6%  15%,#131313 16% 25%,#100f0f 26% 35%,#131313 36% 45%,
        #100f0f 46% 55%,#131313 56% 65%,#100f0f 66% 75%,#131313 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50% at 0 100%,#131313 0%  5% ,#100f0f 6%  15%,#131313 16% 25%,#100f0f 26% 35%,#131313 36% 45%,
        #100f0f 46% 55%,#131313 56% 65%,#100f0f 66% 75%,#131313 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#131313 0%  5% ,#100f0f 6%  15%,#131313 16% 25%,#100f0f 26% 35%,#131313 36% 45%,
        #100f0f 46% 55%,#131313 56% 65%,#100f0f 66% 75%,#131313 76% 85%,#100f0f 86% 95%,
        #0000 96%),
        radial-gradient(50% 50%,#131313 0%  5% ,#100f0f 6%  15%,#131313 16% 25%,#100f0f 26% 35%,#131313 36% 45%,
        #100f0f 46% 55%,#131313 56% 65%,#100f0f 66% 75%,#131313 76% 85%,#100f0f 86% 95%,
        #0000 96%) 18px 18px;
  background-size: 36px 36px;
  background-color: #131313;
  /* pattern by: ME - 10015.io */
}